<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
  <ion-row>
    <ion-col sizeLg="6" offsetLg="3" sizeMd="12" sizeSm="12" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Please Register</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
          </ion-item>
          <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
            Register
          </ion-button>
         </form>
         <ion-text color="medium" class="ion-text-center" routerLink="/register">
          <p>Already a user? Click Here.</p>
        </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
